body{
    margin: 0;
    background: repeating-linear-gradient(
        45deg,
        #FFF5E1,
        #FFF5E1 40px,
        #FAD7A0 40px,
        #FAD7A0 80px
    );
    background-color: #FFF5E1; /* Crema Pastel */
    color: #5D4037; /* Marrón Oscuro */
}
header{
    display: flex;
    align-items: center;
    text-align: center;
    place-content: center;
    flex-wrap: wrap;
    background-color: #8B4513; /* Chocolate */
    color: white;
    text-align: center;
}
header .logo-container {
    margin-right: 50px;
}
header .cart-icon {
    margin-left: 50px;
}
header .cart-icon img {
    width: 50px;
}

/*BARRA NAVEGACIÓN*/
.navbar{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    background-color: #FFC0CB; /* Rosa Suave */
}
.navbar .nav-links{
    display: flex;
    gap: 25px;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
}

/*FOOTER*/
footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
footer .rrss-icono{
    display: flex;
    align-items: center;
    place-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/*BOTON AGREGAR CANTIDAD*/
.control-cantidad {
    display: inline-block;
    align-items: center;
    border: 3px solid;
    border-radius: 12px;
    max-width: 250px;
    padding: 3px 15px;
    background: #fff;
    margin: 10px 0;
}
.control-cantidad button {
    background: #FFC0CB;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}
.control-cantidad .num {
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}
.control-cantidad button:hover{
    background: #923838;
}
.agregar {
    background: #8B4513;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.agregar:hover {
    background: #A0522D;
}

/*CARRITO*/
.cart-icon {
    position: relative;
    margin-left: auto;
    cursor: pointer;
}
.cart-icon img {
    width: 35px;
}
#cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff4d4d;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

/*MENSAJE FLOTANTE*/
.mensaje-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFC0CB;
    color: #5D4037;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(20px);
    z-index: 1000;
}
.mensaje-flotante.mostrar { 
    opacity: 1;
    transform: translateY(0);
}